<!DOCTYPE html>
<html lang="en">
<body>
    <link rel="stylesheet" href="css/style.css" />
    <header>
        <div class="jumbotron">
        <h1>My Profile Page</h1>
        <header>
            <figure>
               <img src="https://storage.googleapis.com/dicoding-proyek-1/pas_foto.JPG" class="profile-img" alt="foto">
               <P>Fakhriel Muhamad Mughniansyah</p>
               <p>Cloud Computing</p>
             </figure>
        </header>
        </div>
        <nav>
            <ul>
            </ul>
        </nav>
    </header>

    <main>
        <div id="content">
           <article id="my Story" class="card">
               <h2>My Story</h2>
               <img src="image/Mystory-logo.png" class="featured-image" alt="mystory">
               <p>Saya adalah mahasiswa yang ingin terus belajar dan keliling dunia. </p>
 
           </article>
 
        </div>
        <aside>
            <article class="profile card">
                 <header>
                     <h2>Personal Information</h2>
                     <section>
                        <table>
                           <tr>
                              <th>Age</th>
                              <td>21</td>
                           </tr>
                           <tr>
                              <th>Phone</th>
                              <td>+62 8211244345855</td>
                           </tr>
                           <tr>
                              <th>Email</th>
                              <td>c2004f0246@bangkit.academy</td>
                           </tr>
                       </table>
                     </section>

                 </header>
            </article>

        </aside>
    </main>
    <footer>
        <a href="https://instagram.com/fakhrielm"><img src="image/ig_logo.png" class="i-image" alt="Instagram"></a>
      <p>&copy; Boril 20022, All Rights Reserved</p>
     </footer>
   </body>
   </html>